@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
/* CSS ที่ใช้กับโครงสร้างหลัก */
html, body {
    height: 100%;
    margin: 0;
}
  
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1 0 auto;
}


/* Aside Show Product*/

.category-nav {
    transition: all 0.2s ease-in-out;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

.category-nav:hover {
    background-color: #C8C6C2;

    cursor: pointer;
    transform: scale(1.05); 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}

.category-nav.active {
    background-color: #C8C6C2; /* สีที่คุณต้องการแสดงเมื่อเลือก */

    transform: scale(1.05); 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}

.nav-aside {
    padding: 30px 0;
}

aside li {
    list-style: none;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.full-height-overflow {
    height: 100vh;
    overflow: auto;
}
/* show recommend product*/
.card-recom-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 15px;
    overflow: hidden;  /*ป้องกันการล้นเมื่อขยาย */
}

.card-recom-hover:hover {
    transform: scale(1.05); 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}

.card-recom-hover img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    margin: 0 auto; 
    padding: 10px;
}

/* ส่วนของ show product*/
.card-hover {
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 15px;
    overflow: hidden;  /*ป้องกันการล้นเมื่อขยาย */
}

.card-hover:hover {
    transform: scale(1.05); 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}

.card-hover img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    margin: 0 auto; 
    padding: 10px;
}

.image-soldout {
    position: relative;
    width: 100%;
    height: auto;
}

.product-image {
    width: 100%;
    height: auto;
    display: block;
}

.sold-out-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; 
    z-index: 1;
    opacity: 0.9; 
}

/*product */
.custom-modal-dialog {  /*popup show */
    padding-left: 20px;
    padding-right: 20px;
    max-width: 60%; 
    margin: 0 auto;
}

.custom-modal-img { 
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    margin: 0 auto; 
}
/* ปุ่ม pagination */
.btn-custom {
    background-color: #C8C6C2;
    color: black;
}

.btn-custom:hover {
    background-color: #BAA495; 
    color: white;
    cursor: pointer;
}
.btn-custom2{
    background-color: #BAA495; 
    color: black;
}
.btn-custom2:hover{
    background-color: #6b5f56; 
    color: white;
}
/* ภาพใน cart  */
.custom-cart-img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    margin: 0 auto;
    padding: 20px;
}
/* bill order  */
.card-bill {
    padding-left: 30px;
    border-radius: 30px;
}

.bill-items {
    margin-bottom: 200px;
}
.card-kbank{
    width: 45%;
    max-height: 100px;
}
.kbank-img{
    width: 60px;
    height: 60px;
    border-radius: 30%;
    background-image: url("/image/Other/kbank.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* about us */
.my-team {
    border: 1px solid black;
    border-radius: 10px;
}

.my-team img {
    width: 100%; 
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.userprofile {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #000000;
    background-image: url('/image/profile.jpg'); 
    background-size: cover; 
    background-position: right center; 
    background-repeat: no-repeat; 
    border: none;
    cursor: pointer;
}


