@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* form login */

#user-login .modal-dialog {
    max-width: 450px; /* ปรับค่าตามที่คุณต้องการ */

}
.my-form {
    background: white;
    padding: 40px 40px 50px;
    width: 400px;
}

.my-form h2 {
    text-align: center;
    margin-bottom: 30px;
    padding-left: 20px;
    font-weight: bold;
}

.cover .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
}

.cover .my-form .btn {
    width: 100%;
}


/* Aside Show Product*/

.category-nav {
    transition: all 0.2s ease-in-out;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

.category-nav:hover {
    background-color: #C8C6C2;

    cursor: pointer;
    transform: scale(1.05); 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}

.category-nav.active {
    background-color: #C8C6C2; /* สีที่คุณต้องการแสดงเมื่อเลือก */

    transform: scale(1.05); 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}


.nav-aside {
    padding: 30px 0;
}

aside li {
    list-style: none;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.full-height-overflow {
    height: 100vh;
    overflow: auto;
}



/* Main Show Product*/

.list-product {
    background-color: white;
}

.list-container {
    list-style: none;
}

.card {
    padding-left: 30px;
    padding-right: 30px;
}

.thumb img {
    width: 50%;
}

/* ส่วนของ show product*/
.card-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 15px;
    overflow: hidden;  /*ป้องกันการล้นเมื่อขยาย */
}

.card-hover:hover {
    transform: scale(1.05); 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}

.card-hover img {
    transition: transform 0.3s ease-in-out; /* ไม่ให้ขยายไปด้วย */
}
.colored_button_div {
    padding: 15px 0;
    width: 50%;
    border-radius: 30px;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0)
}
.colored_button {
    text-decoration: none;
    color: #000000;
}

.colored_button_div:hover {
    background-color: #3A3129;
    cursor: pointer;
}

.colored_button_div:hover a {
    color: white;
    text-decoration: none;
}
/*product */
.custom-modal-dialog {
    max-width: 60%; 
    margin: 1.75rem auto; /* ปรับตำแหน่งกลาง */
}


.custom-img {
    width: 35%; /* กำหนดขนาดภาพ */
    float: left; /* ทำให้ภาพชิดซ้าย */
    margin-right: 10px; /* เพิ่มระยะห่างระหว่างภาพและเนื้อหาอื่น */

}